.input-group.mr-1 {
    width: auto;
    margin: 0;
    font-size: 14px;
    height: 36px;
    .input-group-addon {
        cursor: pointer;
        border: 1px solid rgba(173, 185, 202, 0.3);
        border-right: 0;
        padding: 3px 0 3px 10px;
        height: 36px;
        img {
            width: 15px;
            margin-top: 5px;
        }
    }
    input {
        border: 1px solid rgba(173, 185, 202, 0.3);
        border-left: 0;
        opacity: 0.6;
        // font-size: 14px;
    }
}

.input-group.mr-1 input:focus {
    border: 1px solid rgba(173, 185, 202, 0.3);
    border-left: none;
    box-shadow: none;
    outline: none;
    // background-color: red;
}
.form-row {
    margin-left: 0px;
}

.page {
    // margin: 130px 20px 0px 20px;
    // margin-top: 130px;
    padding: 20px;
    // border: 1px solid #ccc;
    // box-shadow: 1px 0 4px 1px rgba(0, 0, 0, 0.05);
    // width: 100%;
    margin: 20px 10px;
    background: white;
}
